<footer class="footer">
      <div class="row">
        <div class="col-md-6 offset-md-1"><img src="images/Logo.png" ></div>
        <div class="col-md-2"><p><h2>aai@sfedu.ru
<p>+7 (863) 240-21-78</p></h2></p></div>
        <div class="col-md-2"><p><h2>344080, г. Ростов-на-Дону,     пр. Буденновский, 39</h2></p></div>
      </div>
        <div class="offset-md-1" id="endNav">
            <div class="row offset-md-1">

                <!-- ОБ АКАДЕМИИ -->
                <div class="col-md-2">
                    <a class="underlined-title" href="/abouAcademy.html"><h4 >Об Академии</h4></a>
                    <ul>
                        <li><a href="/abouAcademy.html">Информация</a></li>
                        <li><a href="/directsia.html">Дирекция</a></li>
                        <li><a href="#">Кафедры</a></li>
                        <li><a href="#">Центры</a></li>
                        <li><a href="#">Ученый Совет</a></li>
                        <li><a href="#">Профессия</a></li>
                        <li><a href="#">Студенческий Совет</a></li>
                    </ul>
                </div>
                
                <!-- АБИТУРИЕНТУ -->
                <div class="col-md-2">
                    <a class="underlined-title" href="#"><h4 >АБИТУРИЕНТУ</h4></a>
                    <ul>
                        <li><a href="#">Дни открытых дверей</a></li>
                        <li><a href="#">Профориентационные мероприятия</a></li>
                        <li><a href="#">Платное обучение</a></li>
                        <li><a href="#">Целевое обучение</a></li>
                        <li><a href="#">Бакалавриат / Специалитет</a></li>
                        <li><a href="#">Магистратура</a></li>
                        <li><a href="#">Аспирантура / Ассистентура-стажировка</a></li>
                    </ul>
                </div>
                
                <!-- СТУДЕНТУ -->
                <div class="col-md-2">
                    <a class="underlined-title" href="#"><h4 >СТУДЕНТУ</h4></a>
                    <ul>
                        <li><a href="#">Учебный процесс</a></li>
                        <li><a href="#">Социальные вопросы</a></li>
                        <li><a href="#">Внеурочная работа</a></li>
                        <li><a href="#">Международная деятельность</a></li>
                    </ul>
                </div>
                
                <!-- НАУКА -->
                <div class="col-md-2">
                    <a class="underlined-title" href="/science.html"><h4 >НАУКА</h4></a>
                    <ul>
                        <li><a href="#">Основные научные направления</a></li>
                        <li><a href="#">Публикационная активность</a></li>
                        <li><a href="#">Научная деятельность</a></li>
                        <li><a href="#">Документы</a></li>
                        <li><a href="#">Молодежная наука</a></li>
                        <li><a href="#">Действующие СНО в ААИ</a></li>
                        <li><a href="#">Новости науки</a></li>
                    </ul>
                </div>

            </div>  

            <div class="row offset-md-1">
                <!-- ОБРАЗОВАНИЕ -->
                <div class="col-md-2">
                    <a class="underlined-title" href="#"><h4 >ОБРАЗОВАНИЕ</h4></a>
                    <ul>
                        <li><a href="#">Бакалавриат</a></li>
                        <li><a href="#">Специалитет</a></li>
                        <li><a href="#">Магистратура</a></li>
                        <li><a href="#">Аспирантура</a></li>
                        <li><a href="#">Ассистентура-стажировка</a></li>
                        <li><a href="#">Руководители образовательных программ</a></li>
                    </ul>
                </div>
                
                <!-- ОЛИМПИАДА -->
                <div class="col-md-2">
                    <a class="underlined-title" href="#"><h4 >ОЛИМПИАДА</h4></a>
                    <ul>
                        <li><a href="#">Общая информация</a></li>
                        <li><a href="#">Победители / Призеры</a></li>
                        <li><a href="#">Участникам</a></li>
                        <li><a href="#">Организаторам</a></li>
                        <li><a href="#">Задания</a></li>
                        <li><a href="#">Лучшие работы</a></li>
                        <li><a href="#">Документы</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                
                <!-- ДОБУЗОВСКАЯ ПОДГОТОВКА -->
                <div class="col-md-2">
                    <a class="underlined-title" href="#"><h4 >ДОВУЗОВСКАЯ ПОДГОТОВКА</h4></a>
                    <ul>
                        <li><a href="#">Общая информация</a></li>
                        <li><a href="#">Подготовительные курсы</a></li>
                        <li><a href="#">ДАХШ</a></li>
                        <li><a href="#">Профильные классы</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                
                <!-- ПОРТФОЛИО -->
                <div class="col-md-2">
                    <a class="underlined-title" href="#"><h4 >ПОРТФОЛИО</h4></a>
                    <ul>
                        <li><a href="#">Творческие работы преподавателей</a></li>
                        <li><a href="#">Конкурсные работы студентов</a></li>
                        <li><a href="#">Выпускные квалификационные работы</a></li>
                        <li><a href="#">Работы школьников ЮРМОШ</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>