<nav class="navbar academy-navbar navbar-expand-lg">
  <div class="container">
    <button class="d-lg-none">
      <img src="/Academy/images/Logo.png"  alt="Company Logo">
    </button>
    <button class="navbar-toggler" type="button" data-coreui-toggle="collapse" data-coreui-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- Основное меню с CoreUI Tab компонентом -->
    <div class="navbar-menu">
       
      <div class="nav nav-tabs" id="academy-tab" role="tablist">
        <button class="d-none d-lg-block">
      <img src="/Academy/images/Logo.png"  alt="Company Logo">
    </button>
        <!-- Пункт 1 -->
        <button class="nav-link" id="about-tab" data-coreui-toggle="tab" data-coreui-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">
          <a >ОБ АКАДЕМИИ</a>
        </button>

        <!-- Пункт 2 -->
        <button class="nav-link" id="documents-tab" data-coreui-toggle="tab" data-coreui-target="#documents" type="button" role="tab" aria-controls="documents" aria-selected="false">
          <a>АБИТУРИЕНТУ</a>
        </button>

        <!-- Пункт 3 -->
        <button class="nav-link" id="listeners-tab" data-coreui-toggle="tab" data-coreui-target="#listeners" type="button" role="tab" aria-controls="listeners" aria-selected="false">
          <a>СТУДЕНТУ</a>
        </button>

        <!-- Пункт 4 -->
        <button class="nav-link" id="updates-tab" data-coreui-toggle="tab" data-coreui-target="#updates" type="button" role="tab" aria-controls="updates" aria-selected="false">
          <a>ОБРАЗОВАНИЕ</a>
        </button>

        <!-- Пункт 5 -->
        <button class="nav-link" id="science-tab" data-coreui-toggle="tab" data-coreui-target="#science" type="button" role="tab" aria-controls="science" aria-selected="false">
          <a>НАУКА</a>
        </button>

        <!-- Пункт 6 -->
        <button class="nav-link" id="organization-tab" data-coreui-toggle="tab" data-coreui-target="#organization" type="button" role="tab" aria-controls="organization" aria-selected="false">
          <a>ОЛИМПИАДА</a>
        </button>

        <!-- Пункт 7 -->
        <button class="nav-link" id="preparation-tab" data-coreui-toggle="tab" data-coreui-target="#preparation" type="button" role="tab" aria-controls="preparation" aria-selected="false">
          <a>ДОВУЗОВСКАЯ ПОДГОТОВКА</a>
        </button>

        <!-- Пункт 8 -->
        <button class="nav-link" id="constant-tab" data-coreui-toggle="tab" data-coreui-target="#constant" type="button" role="tab" aria-controls="constant" aria-selected="false">
          <a>ПОРТФОЛИО</a>
        </button>

        <button></button>
      </div>

      <!-- Контент табов -->
      <div class="tab-content" id="academy-tab-content">
        <!-- Таб 1 -->
        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
          <div class="tab-content-inner row">
            <div class="col-3">
              <h2 style="color: white;">ОБ АКАДЕМИИ</h2>
              <h4>Академия архитектуры и искусств отмечает 110-летний юбилей</h4>
              <button>Подробнее</button>
            </div>
            <div class="tab-column offset-1 col-2">
              <ul>
                <li><a href="/Academy/About/abouAcademy.html">Информация</a></li>
                <li><a href="/Academy/About/directsia.html">Дирекция</a></li>
                <li><a href="/Academy/About/abitirient.html#kafedry">Кафедры</a></li>
                <li>Центры</li>
              </ul>
            </div>
            <div class="tab-column col-2">
              <ul>
                <li><a href="/Academy/About/uchsovet.html">Ученый Совет</a></li>
                <li>Профсоюз</li>
                <li><a href="/Academy/About/studsovet.html">Студенческий совет</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Таб 2 -->
        <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab" tabindex="0">
          <div class="tab-content-inner row">
            
            <div class="col-3">
              <h2>Абитуриенту</h2>
              <ul>
                <li><a href="/Academy/About/abouAcademy.html#about">Информация о центре</a></li>
                <li><a href="/Academy/About/abouAcademy.html#DniOD">Дни открытых дверей</a></li>
                <li><a href="/Academy/About/abitirient.html#ProfOr">Профориентационные мероприятия</a></li>
              </ul>
            </div>

            <div class="tab-column offset-1 col-2">
              <h4><a href="/Academy/Abiturient/bakalavr.html">Бакалавриат</a></h4>
              <ul>
                <li><a href="/Academy/Abiturient/bakalavr.html#PravilaPriema">Правила приема</a></li>
                <li><a href="/Academy/Abiturient/bakalavr.html#PravilaPriema">Цифры набора</a></li>
                <li><a href="/Academy/Abiturient/bakalavr.html#Vstupitelnye">Вступительные испытания</a></li>
                <li><a href="/Academy/Abiturient/bakalavr.html#Comercia">Платное обучения</a></li>
                <li><a href="/Academy/Abiturient/bakalavr.html#Celevoe">Целевой прием</a></li>
                <li><a href="/Academy/Abiturient/bakalavr.html#Vstupitelnye">Приемы работ</a></li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <h4><a href="/Academy/Abiturient/magistr.html">Магистратура</a></h4>
              <ul>
                <li><a href="/Academy/Abiturient/magistr.html#PravilaPriema">Правила приема</a></li>
                <li><a href="/Academy/Abiturient/magistr.html#Nabor">Цифры набора</a></li>
                <li><a href="/Academy/Abiturient/magistr.html#Vstupitelnye">Вступительные испытания</a></li>
                <li><a href="/Academy/Abiturient/magistr.html#Comercia">Платное обучения</a></li>
                <li><a href="/Academy/Abiturient/magistr.html#Celevoe">Целевой прием</a></li>
              </ul>
            </div>

            <div class="tab-column col-3">
              <h4><a href="/Academy/Abiturient/aspirant.html">Аспирантура / Ассистентура-стажировка</a></h4>
              <ul>
                <li><a href="/Academy/Abiturient/aspirant.html#Nabor">Правила приема</a></li>
                <li><a href="/Academy/Abiturient/aspirant.html#Nabor">Цифры набора</a></li>
                <li><a href="/Academy/Abiturient/aspirant.html#Rukovoditely">Научные руководители</a></li>
                <li><a href="/Academy/Abiturient/aspirant.html#Grant">Грант на поступление</a></li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Таб 3 -->
        <div class="tab-pane fade" id="listeners" role="tabpanel" aria-labelledby="listeners-tab" tabindex="0">
          <div class="tab-content-inner row">
            <div class="col-3">
              <h2>Студенту</h2>
            <h4>Студенческий совет организует образовательные и развлекательные мероприятия, помогает выстраивать учебный процесс, воплощать 
              в жизнь полезные инициативы при поддержке департамента молодёжной политики.</h4>
            </div>
            
            <div class="tab-column offset-1 col-2">
              <h4> <a href="/Academy/Student/YchebnyProcess.html">Учебный процесс</a></h4>
              <ul>
                <li>Учебный центр</li>
                <li>Расписание занятий</li>
                <li>Расписание сессии</li>
                <li>ГИА / ВКР</li>
                <li>Практика</li>
                <li>Стипендии</li>
                <li>Платное обучение</li>
                <li>Международная деятельность</li>
                <li>Документы</li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <h4><a href="/Academy/Student/SocialnyeVoprosy.html">Социальные вопросы</a></h4>
              <ul>
                <li>Материальная поддержка обучающегося</li>
                <li>ПГАС</li>
                <li>Социальная стипендия</li>
                <li>Именные стипендии</li>
                <li>Инклюзивное образование</li>
                <li>Общежития</li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <h4><a href="#"></a>Внеурочная работа</h4>
              <ul>
                <li>План воспитательной работы</li>
                <li>Студенческое самоуправление</li>
                <li>Творческие коллективы</li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <h4>Молодежная наука / творчество</h4>
              <ul>
                <li>Научные конференции</li>
                <li>СНО</li>
                <li>Выставки</li>
                <li>Конкурсы</li>
                <li>Проектная деятельность</li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Таб 4 -->
        <div class="tab-pane fade" id="updates" role="tabpanel" aria-labelledby="updates-tab" tabindex="0">
          <div class="tab-content-inner row">
            <div class="col-3">
              <h2><a class="underlined-title" href="/Academy/Education/education.html">ОБРАЗОВАНИЕ</a></h2>
            <h4>Мы гордимся тем, что наши выпускники становятся успешными художниками и архитекторами, дизайнерами и творческими лидерами.</h4>
            </div>
            <div class="tab-column offset-1 col-2">
              <ul>
                <li>Бакалавриат</li>
                <li>Специалитет</li>
                <li>Магистратура</li>
                <li>Аспирантура</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Таб 5 -->
        <div class="tab-pane fade" id="science" role="tabpanel" aria-labelledby="science-tab" tabindex="0">
          <div class="tab-content-inner row">
            <div class="col-3">
              <h2>Наука</h2>
            <h4>Научно-исследовательская деятельность является составляющей частью процесса подготовки молодых специалистов</h4>
            </div>

            <div class="tab-column offset-1 col-2">
              <ul>
                <li>Оснавные научные направления</li>
                <li>Публикационная активность</li>
                <li>Научная деятельность</li>
                <li>Документы</li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <ul>
                <li>Молодежная наука</li>
                <li>Действующие СНО в ААИ</li>
                <li>Новости науки</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Таб 6 -->
        <div class="tab-pane fade" id="organization" role="tabpanel" aria-labelledby="organization-tab" tabindex="0">
          <div class="tab-content-inner row">
            
            <div class="col-3">
              <h2>Олимпиада</h2>
            <h4>XVII Южно-Российская межрегиональная олимпиада школьников «Архитектура и искусство» по комплексу предметов</h4>
            </div>

            <div class="tab-column offset-1 col-2">
              <ul>
                <li>ЮРМОШ</li>
                <li>Новости</li>
                <li>Этапы</li>
                <li>Календарь олимпиады</li>
                <li>Документы</li>
                <li>Информация</li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <ul>
                <li>Задания</li>
                <li>Списки победителей и призеров</li>
                <li>Лучшие работы</li>
                <li>Соорганизаторы олимпиады</li>
                <li>Организаторы</li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Таб 7 -->
        <div class="tab-pane fade" id="preparation" role="tabpanel" aria-labelledby="preparation-tab" tabindex="0">
          <div class="tab-content-inner row">

            <div class="col-3">
              <h2>Довузовская подготовка</h2>
            <h4>Занятия на Подготовительных курсах ведутся по двум направлениям: Архитектура  и Искусство</h4>
            </div>

            <div class="tab-column offset-1 col-2">
              <ul>
                <li>Подкурсы</li>
                <li>Содержание программы</li>
                <li>Важные документы</li>
                <li>Курсы</li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <ul>
                <li>Этапы оформления договора</li>
                <li>Преподавательский состав</li>
                <li>Контакты</li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Таб 8 -->
        <div class="tab-pane fade" id="constant" role="tabpanel" aria-labelledby="constant-tab" tabindex="0">
          <div class="tab-content-inner row">

            <div class="col-3">
              <h2>Портфолио</h2>
            <h4>Здесь вы сможете ознакомиться с выдающимися проектами и работами студентов и преподавателей Академии</h4>
            </div>

            <div class="tab-column offset-1 col-2">
              <ul>
                <li>Выпускные квалификационные работы студентов</li>
                <li>Конкурсные работы студентов</li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <ul>
                <li>Творческие работы преподавателей</li>
                <li>Работы призеров ЮРМОШ</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
</nav>