<nav class="navbar academy-navbar navbar-expand-lg">
  <div class="container">
    <button class="d-lg-none">
      <img src="/images/Logo.png"  alt="Company Logo">
    </button>
    <button class="navbar-toggler" type="button" data-coreui-toggle="collapse" data-coreui-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- Основное меню с CoreUI Tab компонентом -->
    <div class="navbar-menu">
       
      <div class="nav nav-tabs" id="academy-tab" role="tablist">
        <button class="d-none d-lg-block"><a href="/index.html">
      <img src="/images/Logo.png"  alt="Company Logo"></a>
    </button>
        <!-- Пункт 1 -->
        <button class="nav-link" id="about-tab" data-coreui-toggle="tab" data-coreui-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">
          <a >ОБ АКАДЕМИИ</a>
        </button>

        <!-- Пункт 2 -->
        <button class="nav-link" id="documents-tab" data-coreui-toggle="tab" data-coreui-target="#documents" type="button" role="tab" aria-controls="documents" aria-selected="false">
          <a>АБИТУРИЕНТУ</a>
        </button>

        <!-- Пункт 3 -->
        <button class="nav-link" id="listeners-tab" data-coreui-toggle="tab" data-coreui-target="#listeners" type="button" role="tab" aria-controls="listeners" aria-selected="false">
          <a>СТУДЕНТУ</a>
        </button>

        <!-- Пункт 4 -->
        <button class="nav-link" id="updates-tab" data-coreui-toggle="tab" data-coreui-target="#updates" type="button" role="tab" aria-controls="updates" aria-selected="false">
          <a>ОБРАЗОВАНИЕ</a>
        </button>

        <!-- Пункт 5 -->
        <button class="nav-link" id="science-tab" data-coreui-toggle="tab" data-coreui-target="#science" type="button" role="tab" aria-controls="science" aria-selected="false">
          <a>НАУКА</a>
        </button>

        <!-- Пункт 6 -->
        <button class="nav-link" id="organization-tab" data-coreui-toggle="tab" data-coreui-target="#organization" type="button" role="tab" aria-controls="organization" aria-selected="false">
          <a>ОЛИМПИАДА</a>
        </button>

        <!-- Пункт 7 -->
        <button class="nav-link" id="preparation-tab" data-coreui-toggle="tab" data-coreui-target="#preparation" type="button" role="tab" aria-controls="preparation" aria-selected="false">
          <a>ДОВУЗОВСКАЯ ПОДГОТОВКА</a>
        </button>

        <!-- Пункт 8 -->
        <button class="nav-link" id="constant-tab" data-coreui-toggle="tab" data-coreui-target="#constant" type="button" role="tab" aria-controls="constant" aria-selected="false">
          <a>ПОРТФОЛИО</a>
        </button>

        <button></button>
      </div>

      <!-- Контент табов -->
      <div class="tab-content" id="academy-tab-content">
        <!-- Таб 1 -->
        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
          <div class="tab-content-inner row">
            <div class="col-3">
              <h2 class="text-white">ОБ АКАДЕМИИ</h2>
              <h4 class="text-white">Академия архитектуры и искусств отмечает 110-летний юбилей</h4>
              <button class="text-center text-lg-end mb-4 mb-lg-0"><a href="#" class="btn btn-primary btn-lg text-white">Подробнее</a></button>
            </div>
            <div class="tab-column offset-1 col-2">
              <ul>
                <li><a href="/About/abouAcademy.html">Информация</a></li>
                <li><a href="/404.html">Дирекция</a></li>
                <li><a href="/Abiturient/abiturient.html#kafedry">Кафедры</a></li>
                <li><a href="/404.html">Центры</a></li>
              </ul>
            </div>
            <div class="tab-column col-2">
              <ul>
                <li><a href="/404.html">Ученый Совет</a></li>
                <li><a href="/404.html">Профсоюз</a></li>
                <li><a href="/404.html">Студенческий совет</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Таб 2 -->
        <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab" tabindex="0">
          <div class="tab-content-inner row">
            
            <div class="tab-column col-3">
              <h2 class="text-white">Абитуриенту</h2>
              <ul>
                <li><a href="/About/abouAcademy.html#about">Информация о центре</a></li>
                <li><a href="/About/abouAcademy.html#DniOD">Дни открытых дверей</a></li>
                <li><a href="/Abiturient/abiturient.html#ProfOr">Профориентационные мероприятия</a></li>
              </ul>
            </div>

            <div class="tab-column offset-1 col-2">
              <h4 class="text-white"><li><a href="/Abiturient/bakalavr.html">Бакалавриат</a></li></h4>
              <ul>
                <li><a href="/Abiturient/bakalavr.html#PravilaPriema">Правила приема</a></li>
                <li><a href="/Abiturient/bakalavr.html#PravilaPriema">Цифры набора</a></li>
                <li><a href="/Abiturient/bakalavr.html#Vstupitelnye">Вступительные испытания</a></li>
                <li><a href="/Abiturient/bakalavr.html#Comercia">Платное обучения</a></li>
                <li><a href="/Abiturient/bakalavr.html#Celevoe">Целевой прием</a></li>
                <li><a href="/Abiturient/bakalavr.html#Vstupitelnye">Приемы работ</a></li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <h4 class="text-white"><li><a href="/Abiturient/magistr.html">Магистратура</a></li></h4>
              <ul>
                <li><a href="/Abiturient/magistr.html#PravilaPriema">Правила приема</a></li>
                <li><a href="/Abiturient/magistr.html#Nabor">Цифры набора</a></li>
                <li><a href="/Abiturient/magistr.html#Vstupitelnye">Вступительные испытания</a></li>
                <li><a href="/Abiturient/magistr.html#Comercia">Платное обучения</a></li>
                <li><a href="/Abiturient/magistr.html#Celevoe">Целевой прием</a></li>
              </ul>
            </div>

            <div class="tab-column col-3">
              <h4 class="text-white"><li><a href="/Abiturient/aspirant.html">Аспирантура / Ассистентура-стажировка</a></li></h4>
              <ul>
                <li><a href="/Abiturient/aspirant.html#Nabor">Правила приема</a></li>
                <li><a href="/Abiturient/aspirant.html#Nabor">Цифры набора</a></li>
                <li><a href="/Abiturient/aspirant.html#Rukovoditely">Научные руководители</a></li>
                <li><a href="/Abiturient/aspirant.html#Grant">Грант на поступление</a></li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Таб 3 -->
        <div class="tab-pane fade" id="listeners" role="tabpanel" aria-labelledby="listeners-tab" tabindex="0">
          <div class="tab-content-inner row">
            <div class="col-3">
              <h2 class="text-white">Студенту</h2>
            <h4 class="text-white">Студенческий совет организует образовательные и развлекательные мероприятия, помогает выстраивать учебный процесс, воплощать 
              в жизнь полезные инициативы при поддержке департамента молодёжной политики.</h4>
            </div>
            
            <div class="tab-column offset-1 col-2">
              <h4 class="text-white"> <li><a href="/Student/YchebnyProcess.html">Учебный процесс</a></li></h4>
              <ul>
                <li><a href="/404.html">Учебный центр</a></li>
                <li><a href="/404.html">Расписание занятий</a></li>
                <li><a href="/404.html">Расписание сессии</a></li>
                <li><a href="/404.html">ГИА / ВКР</a></li>
                <li><a href="/404.html">Практика</a></li>
                <li><a href="/404.html">Стипендии</a></li>
                <li><a href="/404.html">Платное обучение</a></li>
                <li><a href="/404.html">Международная деятельность</a></li>
                <li><a href="/404.html">Документы</a></li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <h4 class="text-white"><li><a href="/404.html">Социальные вопросы</a></li></h4>
              <ul>
                <li><a href="/404.html">Материальная поддержка обучающегося</a></li>
                <li><a href="/404.html">ПГАС</a></li>
                <li><a href="/404.html">Социальная стипендия</a></li>
                <li><a href="/404.html">Именные стипендии</a></li>
                <li><a href="/404.html">Инклюзивное образование</a></li>
                <li><a href="/404.html">Общежития</a></li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <h4 class="text-white"><li><a href="/404.html">Внеурочная работа</a></li></h4>
              <ul>
                <li><a href="/404.html">План воспитательной работы</a></li>
                <li><a href="/404.html">Студенческое самоуправление</a></li>
                <li><a href="/404.html">Творческие коллективы</a></li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <h4 class="text-white">Молодежная наука / творчество</h4>
              <ul>
                <li><a href="/404.html">Научные конференции</a></li>
                <li><a href="/404.html">СНО</a></li>
                <li><a href="/404.html">Выставки</a></li>
                <li><a href="/404.html">Конкурсы</a></li>
                <li><a href="/404.html">Проектная деятельность</a></li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Таб 4 -->
        <div class="tab-pane fade" id="updates" role="tabpanel" aria-labelledby="updates-tab" tabindex="0">
          <div class="tab-content-inner row">
            <div class="col-3">
              <button class="nav-link" type="button"><a href="/Education/education.html">ОБРАЗОВАНИЕ</a></button>
            <h4 class="text-white">Мы гордимся тем, что наши выпускники становятся успешными художниками и архитекторами, дизайнерами и творческими лидерами.</h4>
            </div>
            <div class="tab-column offset-1 col-2">
              <ul>
                <li><a href="/Abiturient/bakalavr.html">Бакалавриат</a></li>
                <li><a href="/404.html">Специалитет</a></li>
                <li><a href="/Abiturient/magistr.html">Магистратура</a></li>
                <li><a href="/Abiturient/aspirant.html">Аспирантура</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Таб 5 -->
        <div class="tab-pane fade" id="science" role="tabpanel" aria-labelledby="science-tab" tabindex="0">
          <div class="tab-content-inner row">
            <div class="col-3">
              <h2 class="text-white">Наука</h2>
            <h4 class="text-white">Научно-исследовательская деятельность является составляющей частью процесса подготовки молодых специалистов</h4>
            </div>

            <div class="tab-column offset-1 col-2">
              <ul>
                <li><a href="/404.html">Оснавные научные направления</a></li>
                <li><a href="/404.html">Публикационная активность</a></li>
                <li><a href="/404.html">Научная деятельность</a></li>
                <li><a href="/404.html">Документы</a></li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <ul>
                <li><a href="/404.html">Молодежная наука</a></li>
                <li><a href="/404.html">Действующие СНО в ААИ</a></li>
                <li><a href="/404.html">Новости науки</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Таб 6 -->
        <div class="tab-pane fade" id="organization" role="tabpanel" aria-labelledby="organization-tab" tabindex="0">
          <div class="tab-content-inner row">
            
            <div class="col-3">
              <h2 class="text-white">Олимпиада</h2>
            <h4 class="text-white">XVII Южно-Российская межрегиональная олимпиада школьников «Архитектура и искусство» по комплексу предметов</h4>
            </div>

            <div class="tab-column offset-1 col-2">
              <ul>
                <li>ЮРМОШ</li>
                <li>Новости</li>
                <li>Этапы</li>
                <li><a href="/404.html">Календарь олимпиады</a></li>
                <li>Документы</li>
                <li>Информация</li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <ul>
                <li>Задания</li>
                <li>Списки победителей и призеров</li>
                <li>Лучшие работы</li>
                <li>Соорганизаторы олимпиады</li>
                <li>Организаторы</li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Таб 7 -->
        <div class="tab-pane fade" id="preparation" role="tabpanel" aria-labelledby="preparation-tab" tabindex="0">
          <div class="tab-content-inner row">

            <div class="col-3">
              <h2 class="text-white">Довузовская подготовка</h2>
            <h4 class="text-white">Занятия на Подготовительных курсах ведутся по двум направлениям: Архитектура и Искусство</h4>
            </div>

            <div class="tab-column offset-1 col-2">
              <ul>
                <li><a href="/404.html">Подкурсы</a></li>
                <li><a href="/404.html">Содержание программы</a></li>
                <li><a href="/404.html">Важные документы</a></li>
                <li><a href="/404.html">Курсы</a></li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <ul>
                <li><a href="/404.html">Этапы оформления договора</a></li>
                <li><a href="/404.html">Преподавательский состав</a></li>
                <li><a href="/404.html">Контакты</a></li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Таб 8 -->
        <div class="tab-pane fade" id="constant" role="tabpanel" aria-labelledby="constant-tab" tabindex="0">
          <div class="tab-content-inner row">

            <div class="col-3">
              <h2 class="text-white">Портфолио</h2>
            <h4 class="text-white">Здесь вы сможете ознакомиться с выдающимися проектами и работами студентов и преподавателей Академии</h4>
            </div>

            <div class="tab-column offset-1 col-2">
              <ul>
                <li><a href="/404.html">Выпускные квалификационные работы студентов</a></li>
                <li><a href="/404.html">Конкурсные работы студентов</a></li>
              </ul>
            </div>

            <div class="tab-column col-2">
              <ul>
                <li><a href="/404.html">Творческие работы преподавателей</a></li>
                <li><a href="/404.html">Работы призеров ЮРМОШ</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
</nav>